XCONECTA_HOST_PORT=3414
XCONECTA_HOST_BACKEND_BASE_URL=http://localhost:3314
XCONECTA_HOST_BOOTSTRAP_BACKEND_BASE_URL=http://localhost:3314
XCONECTA_HOST_PUBLIC_BASE_URL=http://localhost:3414
XCONECTA_HOST_BOOTSTRAP_API_KEY=xconecta-dev-api-key
