XCONECTB_HOST_PORT=3413
XCONECTB_HOST_BACKEND_BASE_URL=http://localhost:3313
XCONECTB_HOST_BOOTSTRAP_BACKEND_BASE_URL=http://localhost:3313
XCONECTB_HOST_PUBLIC_BASE_URL=http://localhost:3413
XCONECTB_HOST_BOOTSTRAP_API_KEY=change-me
